<div class="px-16 py-4 bg-white border border-white rounded-custom-1 mt-4">
            <div class="flex flex-row items-center mb-2">
                <h1>CONTACT</h1>
                <div class="horizontal-bar"></div>
            </div>
            <div class="flex flex-row justify-between">
                <div class="bg-card1 w-[48%] px-5 py-7 rounded-custom">
                    <p class="flex flex-row items-center">
                        <i class="bi bi-phone" style="color:red"></i>&nbsp; Phone:
                    </p>
                    <div>
                        <p class="ms-6"> +91 8607212171</p>
                        <p class="ms-6"> +91 8168619168</p>
                    </div>
                </div>
                <div class="bg-card2 w-[48%] px-5 py-7 rounded-custom">
                    <p class="flex flex-row items-center">
                         <i class="bi bi-envelope" style="color:orange"></i>
                         &nbsp; Email:
                    </p>
                    <div>
                        <p class="ms-6">vinaypanchal115gmail.com</p>
                    </div>
                </div>
            </div>
            <div>
                <app-contact-form />
            </div>
        </div>
