.horizontal-bar {
    margin-left: 25px;
    height: 2px;
    width: 30%;
    background: linear-gradient(to left, red, orange)
}

.rounded-custom-1 {
    border-radius: 20px
}

.rounded-custom {
    border-radius: 12px;
}

.bg-card2 {
    background-color: #ffeeda;
}

.bg-card1 {
    background-color: #f2f7fc;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}