<div class="px-16 py-4 bg-white border border-white rounded-custom-1 mt-4">
  <div class="flex flex-row items-center mb-2">
    <h1>SKILLS</h1>
    <div class="horizontal-bar"></div>
  </div>
  <div class="flex flex-row justify-between">
    <div
      class="bg-card1 w-[30%] mb-8 px-6 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>REACT</h2>
      </div>
    </div>
    <div
      class="bg-card2 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>NODE.JS</h2>
      </div>
    </div>
    <div
      class="bg-card1 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>TYPESCRIPT</h2>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div
      class="bg-card2 w-[30%] mb-8 px-6 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>NEXT.JS</h2>
      </div>
    </div>
    <div
      class="bg-card1 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>JAVASCRIPT</h2>
      </div>
    </div>
    <div
      class="bg-card2 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>CSS</h2>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div
      class="bg-card1 w-[30%] mb-8 px-6 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>HTML</h2>
      </div>
    </div>
    <div
      class="bg-card2 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>MONGODB</h2>
      </div>
    </div>
    <div
      class="bg-card1 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>SQL</h2>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div
      class="bg-card2 w-[30%] mb-8 px-6 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>GIT</h2>
      </div>
    </div>
    <div
      class="bg-card1 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>ANGULAR</h2>
      </div>
    </div>
    <div
      class="bg-card2 w-[30%] mb-8 px-5 py-7 rounded-custom flex flex-col items-center"
    >
      <p class="flex flex-row items-center text-4xl mb-2"></p>
      <div>
        <h2>WORDPRESS</h2>
      </div>
    </div>
  </div>
</div>
