<div class="flex flex-col px-10 py-8 mb-10 rounded-custom" style="background-color: #f2f5f9;">
            <div class="flex flex-row items-center py-4 border-b">
                <div class="mr-8">
                    <i class="bi bi-phone" style="color:red"></i>
                </div>
                <div class="flex flex-col">
                    <p>Phone</p>
                    <p>+91 8607212171</p>
                </div>
            </div>
            <div class="flex flex-row items-center py-4 border-b">
                <div class="mr-8">
                    <i class="bi bi-envelope" style="color:orange"></i>
                </div>
                <div class="flex flex-col">
                    <p>Email</p>
                    <p>vinaypanchal115gmail.com</p>
                </div>
            </div>
            <div class="flex flex-row items-center py-4 border-b">
                <div class="mr-8">
                    <i class="bi bi-geo-alt-fill" style="color:red"></i>
                </div>
                <div class="flex flex-col">
                    <p>Location</p>
                    <p>Bahadurgarh, Haryana, India</p>
                </div>
            </div>
            <div class='mt-4 flex justify-center'>
                <div class="flex flex-row px-2 py-2 items-center rounded-custom-1 downloadButton">
                    <div class="mr-3 ml-2">
                        <i class="bi bi-download" style="color:white"></i>
                    </div>
                    <p style="color: white">Download Resume</p>
                </div>
            </div>
        </div>
