 <div class="relative w-full mt-4 pt-24 bg-white rounded-custom-1 flex flex-col items-center">
            <img
                src={{imgUrl}}
                alt="Floating"
                class="absolute -top-28 w-48 h-48 rounded-custom"
            />
            <p class="text-4xl font-medium tracking-wide">Vinay Kumar</p>
            <p class="text-gray-400 mt-5">FullStack Developer</p>
            <div class="flex flex-row justify-evenly w-[80%] mt-4 mb-4">
                <button class="bg-card2 w-16 h-16 flex justify-center items-center rounded-custom" >
                    <i class="bi bi-facebook" style="color: #1977f2"></i>
                </button>
                <button class="bg-card2 w-16 h-16 flex justify-center items-center rounded-custom text-linkidin">
                    <i class="bi bi-linkedin" style="color: #0177b5"></i>
                </button>
                <button class="bg-card2 w-16 h-16 flex justify-center items-center rounded-custom">
                    <i class="bi bi-twitter-x"></i>
                </button>
                <button class="bg-card2 w-16 h-16 flex justify-center items-center rounded-custom">
                    <i class="bi bi-github"></i>
                </button>
            </div>
            <div class="w-[85%]">
                <app-user-info />
            </div>
        </div>
